### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [48]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [49]:
total_players = len(purchase_data["SN"].unique())

total_players

print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
item_list = purchase_data["Item Name"].value_counts()
items_number = len(item_list)
items_number
avg_price = purchase_data["Price"].mean()
new_avg_price = round(avg_price, 2)
avg_price
number_of_purchases = len(purchase_data["Purchase ID"])
total_revenue = purchase_data["Price"].sum()
total_revenue
purchaser_breakdown = pd.DataFrame({"Number of Items" : [items_number],
                                  "Average Price" : [new_avg_price],
                                  "Number of Purchases" : [number_of_purchases],
                                   "Total Revenue" : '$' + str(total_revenue),
                                  })
purchaser_breakdown["Average Price"] = purchaser_breakdown ["Average Price"].round(2)
purchaser_breakdown["Average Price"] = ("$" + str(new_avg_price))
purchaser_breakdown

   Number of Items Average Price  Number of Purchases Total Revenue
0              179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [70]:
dummies_gender = pd.get_dummies(purchase_data["Gender"])
gender_data_complete = pd.concat([purchase_data,dummies_gender], axis=1)
gender_data_complete
grouped_data = gender_data_complete.groupby(['SN'])
grouped_data.mean()
grouped_data = grouped_data.mean()
male_number = grouped_data["Male"].sum()
male_pct = (100*(grouped_data["Male"].mean())).round(2)
female_number = grouped_data["Female"].sum()
female_pct = (100*(grouped_data["Female"].mean())).round(2)
other_number = grouped_data["Other / Non-Disclosed"].sum()
other_pct = (100*(grouped_data["Other / Non-Disclosed"].mean())).round(2)

1.91

In [115]:
frame_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [male_number, female_number, other_number],
    "Percentage of Players" : [male_pct , female_pct , other_pct ]})

frame_df = frame_df.set_index("Gender")
frame_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

Gender
Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Total Count, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
gender_counts =frame_df["Total Count"]
gender_count = purchase_data.groupby("Gender").count()
gender_count = gender_count.drop(["SN","Age","Item ID","Item Name","Price"], axis=1)
gender_mean_df = purchase_data.groupby("Gender").mean()
avg_price_gender= gender_mean_df["Price"]
gender_count ["Average Purchase Price"] = avg_price_gender.round(2)
gender_sum_df = purchase_data.groupby("Gender").sum()
total_purchase_value = gender_sum_df["Price"]
gender_count ["Total Purchase Value"] = total_purchase_value
gender_count ["Amt of People in Gender"] = gender_counts
avg_purchase_person = (gender_count ["Total Purchase Value"])/(gender_count ["Amt of People in Gender"])
avg_purchase_person = avg_purchase_person.round(2)
gender_count ["Avg Total Purchase per Person"] = avg_purchase_person
gender_analysis = gender_count
gender_analysis= gender_analysis.drop(["Amt of People in Gender"], axis=1)

In [146]:
gender_analysis.rename(columns={"Purchase ID": "Purchase Count"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [148]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
group_names = ["<10", "10-14", "15-19", "20-24","25-29","30-34","35-39","40+"]

In [173]:
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names, right=False)

In [188]:
dummies_age = pd.get_dummies(purchase_data["Age Bins"])
age_data = pd.concat([purchase_data,dummies_age], axis=1)
age_data = age_data.groupby(['SN']).mean()
ten_number = age_data["<10"].sum()
ten_pct = (100*(age_data["<10"].mean())).round(2)
fifteen_number = age_data["10-14"].sum()
fifteen_pct = (100*(age_data["10-14"].mean())).round(2)
twenty_number = age_data["15-19"].sum()
twenty_pct = (100*(age_data["15-19"].mean())).round(2)
twentyfive_number = age_data["20-24"].sum()
twentyfive_pct = (100*(age_data["20-24"].mean())).round(2)
thirty_number = age_data["25-29"].sum()
thirty_pct = (100*(age_data["25-29"].mean())).round(2)
thirtyfive_number = age_data["30-34"].sum()
thirtyfive_pct = (100*(age_data["30-34"].mean())).round(2)
fourty_number = age_data["35-39"].sum()
fourty_pct = (100*(age_data["35-39"].mean())).round(2)
fourtyplus_number = age_data["40+"].sum()
fourtyplus_pct = (100*(age_data["40+"].mean())).round(2)
age_df = pd.DataFrame({
    "Age Bins": ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"],
    "Total Count": [ten_number, fifteen_number, twenty_number, twentyfive_number, thirty_number, thirtyfive_number, fourty_number, fourtyplus_number],
    "Percentage of Players" : [ten_pct, fifteen_pct, twenty_pct, twentyfive_pct, thirty_pct, thirtyfive_pct, fourty_pct, fourtyplus_pct]})
age_df = age_df.set_index("Age Bins")
count_of_age = age_df['Total Count']
age_df

          Total Count  Percentage of Players
Age Bins
<10                17                   2.95
10-14              22                   3.82
15-19             107                  18.58
20-24             258                  44.79
25-29              77                  13.37
30-34              52                   9.03
35-39              31                   5.38
40+                12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [197]:
age_count = purchase_data.groupby(["Age Bins"]).count()
age_counts = age_count["Price"]
age_count = age_count.drop(["SN","Age","Item ID","Item Name","Price","Gender"], axis=1)
age_count = age_count.rename(columns={"Purchase ID": "Purchase Count"})
age_mean = purchase_data.groupby(["Age Bins"]).mean()
age_avg_price = (age_mean["Price"]).round(2)
total_sum = purchase_data.groupby(["Age Bins"]).sum()
age_purchase_value = (total_sum['Price']).round(2)
age_count["Avg Purchase Price"] = age_avg_price
age_count ['Total Purchase Value']= age_purchase_value
age_count ["Number In Each Age Bin"] = count_of_age
age_count ["Avg Total Purchase per Person"] = (age_count ["Total Purchase Value"])/(age_count ["Number In Each Age Bin"])
age_count.round(2)
age_count

,Purchase Count,Avg Purchase Price,Total Purchase Value,Number In Each Age Bin,Avg Total Purchase per Person
Age Bins,,,,,
<10,23,3.35,77.13,17,4.537059
10-14,28,2.96,82.78,22,3.762727
15-19,136,3.04,412.89,107,3.858785
20-24,365,3.05,1114.06,258,4.318062
25-29,101,2.90,293.00,77,3.805195
30-34,73,2.93,214.00,52,4.115385
35-39,41,3.60,147.67,31,4.763548
40+,13,2.94,38.24,12,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [213]:
top_spenders = purchase_data.groupby(['SN']).count()
top_spenders = top_spenders.drop(["Age","Item ID","Item Name","Price","Gender","Age Bins"], axis=1)
mean_spenders = purchase_data.groupby(['SN']).mean()
mean_price = mean_spenders ["Price"]
total_spenders = purchase_data.groupby(['SN']).sum()
total_price = total_spenders ["Price"]
top_spenders.rename(columns={"Purchase ID": "Purchase Count"})
top_spenders ["Avg Purchase Price"] = mean_price
top_spenders ["Total Purchase Value"] = total_price
top_spenders = top_spenders.sort_values("Total Purchase Value",ascending=False)
top_spenders.head(6)

             Purchase ID  Avg Purchase Price  Total Purchase Value
SN
Lisosia93              5            3.792000                 18.96
Idastidru52            4            3.862500                 15.45
Chamjask73             3            4.610000                 13.83
Iral74                 4            3.405000                 13.62
Iskadarya95            3            4.366667                 13.10
Ilarin91               3            4.233333                 12.70

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [218]:
popular_items = purchase_data.groupby(['Item Name',"Item ID"]).count()
popular_items = popular_items.drop(["Age","Price","Gender","Age Bins","SN"], axis=1)
popular_items = popular_items.rename(columns={"Purchase ID": "Purchase Count"})
popular_mean = purchase_data.groupby(['Item Name',"Item ID"]).mean()
popular_sum = purchase_data.groupby(['Item Name',"Item ID"]).sum()
item_price = popular_mean ["Price"]
total_price = popular_sum ["Price"]
popular_items ["Avg Purchase Price"] = item_price
popular_items ["Total Purchase Value"] = total_price
popular_items = popular_items.sort_values("Purchase Count",ascending=False)
popular_items.head(5)

,,Purchase Count,Avg Purchase Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
"Extraction, Quickblade Of Trembling Hands",108,9,3.53,31.77
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
"Pursuit, Cudgel of Necromancy",19,8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [219]:
popular_items_two = popular_items.sort_values("Total Purchase Value",ascending=False)
popular_items_two.head(5)

,,Purchase Count,Avg Purchase Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
Final Critic,92,8,4.88,39.04
Singed Scalpel,103,8,4.35,34.80