In [1]:
import os
import csv
import pandas as pd

In [2]:
file_one = "Resources/employees.csv"

In [3]:
file_one_pd = pd.read_csv(file_one)

In [4]:
whos

Variable      Type         Data/Info
------------------------------------
csv           module       <module 'csv' from '//ana<...>a3/lib/python3.7/csv.py'>
file_one      str          Resources/employees.csv
file_one_pd   DataFrame       first_name  last_name <...>d    Hammond  561-17-6312
os            module       <module 'os' from '//anac<...>da3/lib/python3.7/os.py'>
pd            module       <module 'pandas' from '//<...>ages/pandas/__init__.py'>

In [5]:
file_one_pd.head(15)

   first_name  last_name          ssn
0        Tina    Fleming  619-16-7988
1       Erica       Shah  164-51-7615
2       Paula      Ortiz  051-83-3290
3       James  Hendricks  776-83-2884
4      Lauren       King  197-94-2398
5       David      Cowan  252-92-1832
6      Andrew     Burton  296-23-6842
7      Julian      Baker  337-40-7543
8       Scott     Castro  399-46-5595
9       Billy  Rodriguez  014-18-2503
10    Darrell    Leblanc  005-82-7918
11      David    Hammond  561-17-6312

In [6]:
first_name = file_one_pd["first_name"]
print (first_name)

0        Tina
1       Erica
2       Paula
3       James
4      Lauren
5       David
6      Andrew
7      Julian
8       Scott
9       Billy
10    Darrell
11      David
Name: first_name, dtype: object

In [7]:
last_name= file_one_pd["last_name"]
print (last_name)

0       Fleming
1          Shah
2         Ortiz
3     Hendricks
4          King
5         Cowan
6        Burton
7         Baker
8        Castro
9     Rodriguez
10      Leblanc
11      Hammond
Name: last_name, dtype: object

In [8]:
email = ((first_name) + "." + (last_name) + "@example.com" )
print(email)

0        Tina.Fleming@example.com
1          Erica.Shah@example.com
2         Paula.Ortiz@example.com
3     James.Hendricks@example.com
4         Lauren.King@example.com
5         David.Cowan@example.com
6       Andrew.Burton@example.com
7        Julian.Baker@example.com
8        Scott.Castro@example.com
9     Billy.Rodriguez@example.com
10    Darrell.Leblanc@example.com
11      David.Hammond@example.com
dtype: object

In [9]:
email.head(12)

0        Tina.Fleming@example.com
1          Erica.Shah@example.com
2         Paula.Ortiz@example.com
3     James.Hendricks@example.com
4         Lauren.King@example.com
5         David.Cowan@example.com
6       Andrew.Burton@example.com
7        Julian.Baker@example.com
8        Scott.Castro@example.com
9     Billy.Rodriguez@example.com
10    Darrell.Leblanc@example.com
11      David.Hammond@example.com
dtype: object

In [10]:
ssn = file_one_pd["ssn"]
print (ssn)

0     619-16-7988
1     164-51-7615
2     051-83-3290
3     776-83-2884
4     197-94-2398
5     252-92-1832
6     296-23-6842
7     337-40-7543
8     399-46-5595
9     014-18-2503
10    005-82-7918
11    561-17-6312
Name: ssn, dtype: object

In [11]:

new_employee_data = []

In [13]:
names_dicts = {"First Name":(first_name),
                "Last Name":(last_name),
                "Social Security Number": (ssn),
                "Email Address": (email)}

df_names = pd.DataFrame(names_dicts)
df_names.head(12)

   First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com

In [46]:
new_employee_data = []
for index in range(100) : 
    new_employee_data.append(df_names.copy())

In [45]:
print  (new_employee_data)

[   First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com,    First Name  Last Name Social Security Number                Email Address
0        Tina    Fleming            619-16-7988     Tina.Fleming@example.com
1       Erica       Shah            164-51-7615       Erica.Shah@example.com
2       Paula      Ortiz            051-83-3290      Paula.Ortiz@example.com
3       James  Hendricks            776-83-2884  James.Hendricks@example.com
4      Lauren       King            197-94-2398      Lauren.King@example.com
5       David      Cowan            252-92-1832      David.Cowan@example.com
6      Andrew     Burton            296-23-6842    Andrew.Burton@example.com
7      Julian      Baker            337-40-7543     Julian.Baker@example.com
8       Scott     Castro            399-46-5595     Scott.Castro@example.com
9       Billy  Rodriguez            014-18-2503  Billy.Rodriguez@example.com
10    Darrell    Leblanc            005-82-7918  Darrell.Leblanc@example.com
11      David    Hammond            561-17-6312    David.Hammond@example.com]

In [52]:
df_names.to_csv("Resources/fileOne.csv", index=False, header=True)